* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 20px 0;
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 999;
}

header h1 {
    font-size: 3.5rem; /* Alterando o tamanho da fonte para 3.5rem (equivale a 56px aproximadamente) */
    font-weight: bold; /* Adicionando negrito */
    letter-spacing: 2px; /* Espaçamento entre as letras */
    text-transform: uppercase; /* Transformando o texto em maiúsculas */
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}   

nav ul li a {
    color: rgb(1, 250, 167);
    text-decoration: none;
    font-size: 1.2rem; /* Tamanho da fonte */
}

.section {
    padding: 50px 20px;
    background-color: rgba(212, 214, 192, 0.4);
    text-align: left;
}

.project {
    margin-bottom: 20px;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: #1dc1c1;
    text-align: center;
    padding: 20px 0;
}

#video-bg {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#sobreMim {
    color: rgb(5, 1, 250);
    font-size: 1.2rem; /* Alterando o tamanho da fonte para 1.2rem (equivale a 20px aproximadamente) */
    line-height: 1.8; /* Espaçamento entre linhas */
    padding: 20px; /* Adicionando espaço interno */
    border-radius: 5px; /* Borda arredondada */
}

.box {
    border: 2px solid rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(255, 0, 0, 0.616); /* tornando a cor de fundo completamente transparente */
    border-radius: 10px;
}

.box h2 {
    margin-bottom: 10px;
}

.box p {
    margin-bottom: 0;
}